<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
        <link href="/static/css/list.css" type="text/css" rel="stylesheet" />
        <meta charset="utf-8">
    </head>
    <body>
        <form action="{% url "app:bill" %}" method="POST">
            {% csrf_token %}
            {% for category in categories %}
                <div class="category">
                    <h2>{{ category }}</h2>
                    <ul>
                        {% for item in category.menu_items.all %}
                            <li class="category">
                                {% with pk=item.pk %}
                                    <input class="ordered" id="{{ pk }}" type="checkbox" name="ordered" value="{{ pk }}">
                                    <label for="{{ pk }}">{{ item.title }}</label>
                                {% endwith %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <input id="btn" type="submit" value="Submit"><br>
        </form>
    </body>
</html>