body {
    margin: auto;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.list {
    height: 20px;
    padding: 2px;
}

.column {
    padding-left: 20px;
}

.total, span {
    display: block;
    padding-top: 20px;
}